<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PasswordValidation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DB66F4F1F85530A0011B95B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DB66F661F85530B0011B95B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DB66F711F85530B0011B95B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
